	<div class="header">
		<h2>ServerList
			<div class="pull-right">
				<a class="" href="#/server-add"><span tooltip="Add Server"><i class="icon icon-plus-sign"></i></span></a>
				<a class="" ng-click="saveAll()"><span tooltip="Save All"><i class="icon icon-file"></i></span></a>
			</div>
			<input ng-model="searchField" type="text" placeholder="Search for Database"><div class="btn" ng-click="showAllToggle()">ShowAll</div>
		</h2>
	</div>


<!--<a class="pull-right" href="#/server-delete/{{server._id}}"><span tooltip="Delete Server"><i class="icon icon-trash"></i></span></a>--></div>

<div ng-repeat-start="server in servers | orderBy:'VHDName'" ng-click='toggleHide(server)' class='col-xs-12 col-sm-12 col-md-12 server'>{{server.VHDName}}
<a class="pull-right" href="#/server-edit/{{server._id}}"><span tooltip="Edit Server"><i class="icon icon-wrench"></i></span></a>
 <span class="pull-right">{{server.Databases.length | pluralize:'Database'}}</span>
</div>

<div ng-repeat="Database in server.Databases | filter:searchField" ng-show="server.listShow || searchField.length > 1 || showAll == true" class='col-xs-12 col-sm-6 col-md-4 col-lg-3'>{{Database.DBName}}
<a class="pull-right" href="#/db-edit/{{server._id}}/{{Database._id}}"><span tooltip="Edit Database"><i class="icon icon-wrench"></i></span></a>
<!--<a class="pull-right" href="#/db-delete/{{server._id}}/{{Database._id}}"><span tooltip="Delete Database"><i class="icon icon-trash"></i></span></a>--></div>
<div ng-repeat-end></div>
</div>
