<form name="serverForm" method="post" class="form-horizontal">
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="serverName">Server Name </label>

			<div class="controls">
				<input class="input-large" id="serverName" name="serverName" type="text" ng-model="server.VHDName" required>

				<div ng-show="addEvent.serverName.$error.required && addEvent.$dirty">
					<p><i class="icon icon-warning-sign".</i>Please enter a server name</p>
				</div>
			</div>
		</div>
	 <div class="control-group">
            <div class="controls">
                <a name="saveBtn" ng-click="save()" ng-disabled="serverForm.$invalid" class="btn btn-large btn-primary" >Save</a>
                <a href="#/" name="cancelBtn" class="btn btn-large btn-danger">Cancel</a>
            </div>
        </div>
	</fieldset>
</form>
