<form name="serverForm" method="post" class="form-horizontal">
	<fieldset>
		<div class="control-group">
		<alert ng-repeat="alert in alerts" type={{alert.type}} close="closeAlert($index)">{{alert.msg}}</alert>
					<label class="control-label" for="serverName">Server Name </label>

			<div class="controls">
			<input class="input-large" placeholder="serverName" id="serverName" name="serverName" type="text" ng-model="server.VHDName" required>
				<div ng-show="addEvent.serverName.$error.required && addEvent.$dirty">
					<p><i class="glyphicon glyphicon-sign"></i>Please enter a server name</p>
				</div>
			<input class="input-large" placeholder="serverHost" name="serverHost" type="text" ng-model="server.HostName">
			<input class="input-large" placeholder="serverServer" name="serverServer" type="text" ng-model="server.Server">
			<input class="input-large" placeholder="serverHostLoc" name="serverHostLoc" type="text" ng-model="server.HostLocation">
			<input class="input-large" placeholder="serverOS" name="serverOS" type="text" ng-model="server.OSType">
			<input class="input-large" placeholder="serverLicense" name="serverLicense" type="text" ng-model="server.License">
			<input class="input-large" placeholder="serverEIP" name="serverEIP" type="text" ng-model="server.ExternalIP">
			<input class="input-large" placeholder="serverIIP" name="serverIIP" type="text" ng-model="server.InternalIP">
			<input class="input-large" placeholder="serverACTURL" name="serverACTURL" type="text" ng-model="server.ACTURL">
			<input class="input-large" placeholder="serverACTVer" name="serverACTVer" type="text" ng-model="server.ACTVersion">
			<input class="input-large" placeholder="serverWebPort" name="serverWebPort" type="text" ng-model="server.WebPort">
			<input class="input-large" placeholder="serverSyncPort" name="serverSyncPort" type="text" ng-model="server.SyncPort">
			<input class="input-large" placeholder="serverSpecialNote" name="serverSpecialNote" type="text" ng-model="server.SpecialNotes">
			</div>
		</div>
<!--	<div>{{server}}</div> -->

		<div class="control-group">
			<div class="controls">
				<a name="saveBtn" ng-click="save()" ng-disabled="serverForm.$invalid" class="btn btn-large btn-primary" >Save</a>
				<a href="#/" name="cancelBtn" class="btn btn-large btn-danger">Cancel</a>
	<a class="pull-right" name="delete" ng-click="deletePrompt()"><span tooltip="Delete Server"><i class="btn glyphicon glyphicon-trash"></i></span></a>
		
</div>
		</div>
	</fieldset>
</form>
<div class="control-group" ng-show="isEdit">
	<table class="table table-bordered"> 
		<thead>                 
		<tr>
 			<th>Databases</th>
			<th>Company</th>
			<th>URL</th>
			<th><a href="#/db-new/{{server._id}}"><i class="glyphicon glyphicon-plus" ></i></a></th>
		</tr>
		<tbody>
                <tr  ng-repeat="Database in server.Databases">
                	<td>{{Database.DBName}}</td>
			<td>{{Database.Company}}</td>
			<td>{{server.ACTURL}}:{{server.WebPort}}/{{Database.URL}}</td>
			<td><a href="#/db-edit/{{server._id}}/{{Database._id}}"><i class="glyphicon glyphicon-pencil"></i></a> <a class="#/db-delete/{{server._id}}/{{Database._id}}"><i class="glyphicon glyphicon-trash"></i></a></td>
		</tr>
		</tbody>
	</table></div>
