body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

input.ng-valid.ng-dirty {
    background-color: #78FA89;
}

.page-header {
    border-bottom: none;
}
.form-actions {
    background-color: gray;
    border-top: none;
}
.recently-dropped {
    border: 4px yellow solid;
}
.ui-state-highlight {
    border: 1px black solid;
    background-color: black;
}
ul.thumbnails {
    list-style-type: none;
    margin-left: 0px;
    min-height: 110px;
    min-width: 130px;
    margin: 0px;
}
ul.thumbnails > li {
    width: 100%;
    margin: 0px;
}
.thumbnail {
    border: 1px solid black;
    display: block;
}
.thumbnail.todo {
    background-color: bisque;
}
.thumbnail.in-progress {
    background-color: darkkhaki;
}
.thumbnail.impeded {
    background-color: crimson;
}
.thumbnail.done {
    background-color: lightgreen;
}
.thumbnail p {
    margin-bottom: 0px;
}
.thumbnail p > span {
    font-weight: bold;
}
.thumbnail p > span:first-child {
    float: left;
}
.thumbnail p > span:last-child:not(:first-child) {
    float: right;
}
.thumbnail hr {
    border-color: black;
    margin-top: 0px;
    margin-bottom: 2px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
}
h4 {
    margin-top: 25px;
}
.row {
    margin-bottom: 20px;
}
.row .row {
    margin-top: 10px;
    margin-bottom: 0;
}
[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 15px background-color: #eee;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86, 61, 124, .2);
}
hr {
    margin-top: 40px;
    margin-bottom: 40px;
}
.server {
    background-color:#3ab44a;
    color:white;
    font-weight:bold;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}
.modal {
display: block;
} 
